* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: all 0.3s;
}

.body {
  background-color: #d0dbe8;
}

.parent {
  background-color: #d0dbe8;
}

.Jobs_int_sch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* gap: 80px; */
  flex-shrink: 0;
  /* border: solid; */
}


.title {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (width<576px) {
    flex-direction: column;
    &>span{
      text-align: center;
    }
  }
}

.title span {
  color: rgba(19, 43, 60, 0.92);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.title .job_text {
  color: #ffffffc7;
  cursor: pointer;
  &:hover{
  color: rgba(0, 0, 255, 0.25);
  }
}
.title .selectedJobText {
  color: blue;
}

.title a {
  text-decoration: none;
}


.box {
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  gap: 20px;
  width: fit-content;
  margin-inline: auto;
  @media (width<576px) {
    flex-direction: column;
  }
}

.box .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .search div {
  position: absolute;
  left: 480px;
}

.box .search input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #02132d;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.35);
  outline: none;
  flex-shrink: 0;
}

.box .location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #02132d;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.35);
  outline: none;
  flex-shrink: 0;
}

.box .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #02132d;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.35);
  outline: none;
  flex-shrink: 0;
}

.main {
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
  width: 100%;
  gap: 25px;

  @media screen and (min-width: 576px) {
    width: 90dvw;
  }

  &>div>div{
    width: 300px;

    @media screen and (min-width: 576px) {
    width: 600px;
      
    }
  }
}

.main_left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-shrink: 0;
  width: 400px;
}

.main_right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-shrink: 0;
  width: 400px;
}

.main a {
  text-decoration: none;
  color: black;
}

.my_card {
  display: flex;
  gap: 20px;
  padding: 1rem;
  border-radius: 15px 8px;
  border: 2px solid #02132d;
  background: #dbdfe4;
}
.showMoreButton {
  margin-left: auto;
  width: max-content;
  display: block;
  @media (width < 576px ) {
    font-size: 14px;
    }
}
.show_more{
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.content_title {
  font-size: 19px;
  font-weight: bolder;
  @media (width < 576px ) {
  font-size: 14px;
  }
}

.content_body {
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: end;
  padding: 0px 30px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #02132d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  font-style: italic;
}

@media (max-width: 576px) {
  .main_left {
    min-width: 100%;
  }

  .main_right {
    min-width: 100%;
  }
  


  .Jobs_int_sch{
   display: grid;
   place-items: center;
  }

  .box .search div {
    display: none;
  }

  .show_more{
    display: flex;
    justify-content: center;
  } 
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  footer {
    position: relative;
    left: 100px;
  }

  .box .search div {
    position: absolute;
    left: 340px;
  }
}

@media (max-width: 1024px) {
  .box .search div {
    display: none;
  }
}